@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LTSaeada';
    src: url('/fonts/LTSaeada-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  } 
  @font-face {
    font-family: 'LTSaeada';
    src: url('/fonts/LTSaeada-Bold.woff2') format('woff2');
    font-weight: bold; /* 700 */
    font-style: normal;
  }
  body {
    font-family: 'LTSaeada', sans-serif;
  } 

  :global(.fa-check-circle) {
    color: var(--custom-yellow); /* Use CSS variables or directly set the color */
  }