@font-face {
    font-family: 'LTSaeada';
    src: url('/fonts/LTSaeada-Regular.woff2') format('woff2');
    font-weight: normal; /* 400 */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LTSaeada';
    src: url('/fonts/LTSaeada-Bold.woff2') format('woff2');
    font-weight: bold; /* 700 */
    font-style: normal;
  }
    
  body {
    font-family: 'LTSaeada', sans-serif;
  }
  